header{
    width: 800px;
    height: 200px;
    border:5px red solid;
    box-sizing: border-box;

}

section{
    display: flex;
    width: 700px;
    height: 400px;
    border: 5px orange solid;
    box-sizing: border-box;

}

nav{
    width: 100px;
    height: 100%;
    border-right: 5px orange solid;
    margin-right: 30px;
    box-sizing: border-box;
}

footer{
    width: 800px;
    height: 200px;
    border: 5px gray solid;
    box-sizing: border-box;

}

