.slider{
    width: 700px;
    height: 400px;
    background-color: black;
    margin: 0 auto;
    overflow: hidden;
}

img{
    width: calc(100%/5);
}

.slider>:first-child{
    position: relative;
    display: flex;
    width: 3500px;
    height: 400px;
    transition: 1s linear;

    left: 0;
}
