.task__title{
    padding: 100px 0;
    border-top: 2px solid black;

}

#block{
    background-color: #000;
    height: 400px;
    width: 400px;
    color: #FFFFFF;

    margin: 0 auto;

}

.space {
    position: relative;
    background-color: darkolivegreen;

    width: 500px;
    height: 500px;
    margin: 0 auto;
}

.space>div{
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: salmon;
    transition: all .9s;
    left: 0;
    top: 0;
}
