body{
    background-color: #39424d;
}

img{
    display: block;
    margin: 0 auto;
}

.card{
    width: 300px;
    padding: 70px 0;
    border: 2px #000 solid;
    margin: 100px auto;
    text-align: center;
    line-height: 1.7;
    border-radius: 30%;
    transition: .7s linear;
    background-color: #c7c7c7;


}

button{
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 700;
    background-color: #39424d;
    margin-bottom: 70px;
    padding: 25px;
    border-radius: 30%;
    cursor: pointer;
}