button[onclick="clickNum(click)"]{
    font-size: 48px;
    display: block;
    margin: auto;
    padding: 100px 150px;
    background: green;
    color: #FFF;
}


button[onclick="clickNum(click)"]:active{
    background: orange;

}

#counter_click{
    font-size: 48px;
    text-align: center;
}